local.properties
.build
.build/generated
.gradle
.idea
XSwift/Pods/
XIos/Pods/
build/
dbutil/src/main/java/xxx/com/dbutil/greendao
XIos/XIos.xcodeproj/xcuserdata/xieqingqing.xcuserdatad/xcschemes/xcschememanagement.plist
XIos/XIos.xcodeproj/xcuserdata/xieqingqing.xcuserdatad/xcschemes/XIos.xcscheme
XSwift/XSwift.xcodeproj/xcuserdata/xieqingqing.xcuserdatad/xcschemes/xcschememanagement.plist
XSwift/XSwift.xcodeproj/xcuserdata/xieqingqing.xcuserdatad/xcschemes/XSwift.xcscheme
